<form class="{{cssClass}}">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64">
        <h1><input type="text" name="name" value="{{item.name}}" placeholder="{{ localize 'Name' }}"></h1>
    </header>
    <div>
        <table>
            <tr>
                <td class="item-label">
                    {{ localize "mzw.genericTerms.category" }}
                </td>
                <td>
                    <select name="category">
                        {{selectOptions config.ammunition.category selected=value localize=true }}
                    </select>
                </td>
            </tr>
        </table>
    </div>
    {{#if (eq this.ammunition.category pistol) }}
        {{ log this }}
        {{> "systems/MazeWorldFoundryVTT/MzW/templates/sheets/partials/ammunition/pistol.hbs" this}}
    {{else }}
        <div class="item-label">
            NOT PISTOL
        </div>
    {{/if }}
</form>